/* WDD 130 | Home Page
   Author: Kelechi David Agoro */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font size: 16px;
    font-family: Roboto, Arial, san-serif;
}

nav {
    background-color: #808080;
    padding: 10px;
}

nav a {
    color: #FFFFFF;
    padding: 10px;
    display: block;
}

h1 {
    color: #808080 padding: .5rem
}

/* Profile image inside main */
main img {
    width: 150px;
    height: auto;
    border: 1px solid #4682B4;
    padding: 2px;
    box-shadow: 0 0 30px #808080;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

/* General paragraph padding reset */
p {
    padding: 0;
}

/* Main content width limit */
main {
    max-width: 840px;
}

h2 {
    border-bottom: 1px solid #222;
}

/* Aside section - country/state info */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

/* Image inside aside */
aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

/* Footer styling */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px sold rgba(0 0 0 / .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding-left: 2rem;
}